.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: darkgray;
  color: white;
  text-decoration: none;
}

.items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  color: white;
  text-decoration: none;
}
.items li {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
