.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: darkgray;
}

.items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}
